variables:
  ENVIRONMENT: ci
  DJANGO_SECRET_KEY: Vader is Luke's father
  DB_ENGINE: django.db.backends.postgresql
  DJANGO_DB_URL: postgres://postgres:postgres@postgres:5432/postgres
  POSTGRES_DB: postgres
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  DJANGO_CACHE_URL: "redis://redis:6379/0"
  CELERY_BROKER_URL: "redis://redis:6379/0"
  CORS_ORIGIN_WHITELIST: http://localhost
  LANGUAGE_CODE: en
  ALLOWED_HOSTS: localhost
  CELERY_TASK_ALWAYS_EAGER: 'true'
  STORAGE_DESTINATION: ''
  AWS_ACCESS_KEY_ID: ''
  AWS_SECRET_ACCESS_KEY: ''
  AWS_STORAGE_BUCKET_NAME: ''
  DJANGO_CSRF_TRUSTED_ORIGINS: http://*
  DJANGO_ALLOWED_HOSTS: '*'

stages:
  - build
  - test
  - tag

build_prod:
  image: docker:19.03.1  # Docker client
  stage: build
  services:
    - docker:19.03.1-dind  # Docker server
  only:
    - main
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - export VERSION=$(cat config/settings/base.py | grep 'VERSION = ' | head -1 | cut -d"'" -f2)
    - export PIP_EXTRA_INDEX_URL=https://$PYPI_REGISTRY_USERNAME:$PYPI_REGISTRY_PASSWORD@$PYPI_REGISTRY_HOST/
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker pull python:3.11-slim-buster || true
    - docker pull $CI_REGISTRY_IMAGE:latest || true
    - docker build --cache-from python:3.11-slim-buster,$CI_REGISTRY_IMAGE:latest --build-arg PIP_EXTRA_INDEX_URL --tag $CI_REGISTRY_IMAGE:preprod_build -f docker/Dockerfile .
    - docker push $CI_REGISTRY_IMAGE:preprod_build


test_prod:
  stage: test
  image:
    name: $CI_REGISTRY_IMAGE:preprod_build
    entrypoint: [ "" ]
  services:
    - postgres:14.4-alpine
    - redis:latest
  before_script:
    - pip install flake8
  script:
    - ~/.local/bin/flake8 --ignore E501
    - python manage.py test
  only:
    - main


tag_prod:
  image: docker:19.03.1  # Docker client
  stage: tag
  services:
    - docker:19.03.1-dind  # Docker server
  only:
    - main
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - export VERSION=$(cat config/settings/base.py | grep 'VERSION = ' | head -1 | cut -d"'" -f2)
    - export PIP_EXTRA_INDEX_URL=https://$PYPI_REGISTRY_USERNAME:$PYPI_REGISTRY_PASSWORD@$PYPI_REGISTRY_HOST/
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:preprod_build || true
    - docker tag $CI_REGISTRY_IMAGE:preprod_build $CI_REGISTRY_IMAGE:$VERSION
    - docker tag $CI_REGISTRY_IMAGE:preprod_build $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE:$VERSION
