<nav class="bg-blue-700 fixed w-full z-20 top-0 start-0 border-b border-gray-200">
    <div class="flex items-center justify-between mx-auto p-4">
        <a hx-get="/" hx-target="#page" hx-push-url="true" class="w-1/4 flex items-center space-x-3">
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Mi nueva APP</span>
        </a>
        <div class="w-3/4 flex items-center justify-between">
            <div class="items-center justify-between flex" id="navbar-sticky">
                <ul id="topBarNavList" hx-target="#page" hx-push-url="true"
                    class="flex p-0 font-medium space-x-8 flex-row mt-0 border-0 ">
                    <li>
                        <a hx-get="#"
                           class="block py-2 px-2 text-white rounded hover:bg-blue-900 hover:text-gray-200 cursor-pointer">Acceso 1</a>
                    </li>
                    <li>
                        <a hx-get="#"
                           class="block py-2 px-2 text-white rounded hover:bg-blue-900 hover:text-gray-200 cursor-pointer">Acceso 2</a>
                    </li>
                 
                </ul>
            </div>
            <div class="flex items-center">
{#                <form class="relative" hx-get="/search/" hx-target="#page" hx-push-url="true">#}
{#                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">#}
{#                        <svg class="w-4 h-4 text-white" aria-hidden="true"#}
{#                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">#}
{#                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"#}
{#                                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>#}
{#                        </svg>#}
{#                        <span class="sr-only">Search icon</span>#}
{#                    </div>#}
{#                    <input name="q"#}
{#                           type="text" id="search-navbar"#}
{#                           class="bg-blue-500 block w-full p-2 ps-10 text-sm text-white placeholder-white border border-blue-600 rounded-lg"#}
{#                           placeholder="Buscar" value="{{ request.GET.q }}">#}
{#                </form>#}
                <div id="dropdownUserAvatarButton" data-dropdown-toggle="dropdownAvatar"
                     class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-blue-700 rounded-full p-1 ring-2 ring-gray-300">
                    <span class="font-medium text-white">{{ request.user.initials }}</span>
                </div>
                <!-- Dropdown menu -->
                <div id="dropdownAvatar"
                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-md shadow w-80">
                    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                        <div>{{ request.user.first_name }} {{ request.user.last_name }}</div>
                        <div class="font-medium truncate">{{ request.user.email }}</div>
                    </div>
                    <ul class="py-2 text-sm text-gray-700 cursor-pointer" aria-labelledby="dropdownUserAvatarButton">
                        <li>
                            <a hx-get="{% url 'users:user_settings' %}"
                               hx-target="#page"
                               hx-push-url="true"
                               onclick="document.getElementById('dropdownUserAvatarButton').click()"
                               class="block px-4 py-2 hover:bg-gray-100">Configuración</a>
                        </li>
                        <li>
                            <a href="#"
                               onclick="document.getElementById('dropdownUserAvatarButton').click()"
                               class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Menu 2</a>
                        </li>
                    </ul>
                    <div class="py-2">
                        <a href="{% url 'users:logout' %}"
                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Cerrar
                            sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var navigation = document.querySelectorAll("#topBarNavList li a")

        function deactivateNav(el) {
            el.classList.remove('bg-blue-900')
            el.classList.remove('text-gray-200')
        }

        function activeNav(nav) {
            nav.classList.add('bg-blue-900')
            nav.classList.add('text-gray-200')
        }

        document.body.addEventListener('htmx:pushedIntoHistory', (detail) => {
            for (const nav of navigation) {
                deactivateNav(nav)
                if (window.location.pathname.includes(nav.getAttribute('hx-get'))) {
                    activeNav(nav)
                }
            }
        })
    </script>
</nav>
