{% extends 'bases/base.html' %}

{% block content %}
    {% if validlink %}
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

        <h3>Cambiar contraseña</h3>
        <form method="post">
            {% csrf_token %}
            <fieldset class="fieldset w-lg bg-white border border-base-300 p-6 rounded-box">
                {{ form.as_p }}
                <button type="submit" class="btn btn-neutral mt-4">Cambiar contraseña</button>
            </fieldset>
        </form>
    {% else %}
        <p>
            El enlace proporcionado no es válido, probablemente porque ya haya sido usado.
            Por favor, solicita un nuevo reinicio de contraseña.
        </p>
    {% endif %}
{% endblock %}